{% extends "layout.html" %}

{% block headJS %}

<script>
function show_value(x)
    {
        document.getElementById("intervalRangeValue").innerHTML="This agent will automatically tweet every " + x + " seconds.";
    }
</script>

{% endblock headJS %}

{% block content %}
    
    <div hx-get="/home" hx-trigger="every 5s">
        
        {%  for post in posts.items %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%H:%M') + ' ' + post.date_posted.strftime('%d/%m') }}</small>
                    </div>
                    <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </article>
        {%  endfor  %}
    </div>
        
    {%  for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{  url_for('home', page=page_num) }}">{{ page_num }}</a>
            
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{  url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    
    
    <div id="toggleControl" class="overlay fixed-bottom">
        <div class="box-shown-left">
            <a>Controls</a>
        </div>
        <div class="box-shown-right">
            <input type="image" id="toggleImg" src="static/buttons/toggleup.png" onclick="showControl()"></input>
        </div>
        
        <div class="box-hidden">
            <div class="box-hidden-left">
                <span id="intervalRangeValue" class="text-span">This agent will automatically tweet every 10 seconds.</span>
                <span class="text-span">You can change the interval time using the tweet rate slider.</span>
                
            </div>
            
            <div class="box-hidden-center">
                <div class="box-hidden-span">
                    <h3>Happiness</h3>
                    <div class="box-text-left">-100</div>
                    <div class="box-text-right">100</div>                    
                    <div class="range-control">
                        <input type="range" min="1" max="100" value="50" class="slider" id="happinessRange">
                    </div>
                </div>
                
                <div class="box-hidden-span">
                    <h3>Tweet rate</h3>
                    <div class="box-text-left">1 second</div>
                    <div class="box-text-right">20 seconds</div>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="20" name="sld3" value="10" oninput="show_value(this.value);">
                    </div>
                </div>
                
                <div class="box-hidden-span">
                    <h3>Group size</h3>
                    <div class="box-text-left">10</div>
                    <div class="box-text-right">1010</div>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" id="groupSizeRange">
                    </div>
                </div>
            </div>
            
            <div class="box-hidden-right">
            </div>
            
        </div>
        
       
    </div>
    
    
    <script>
        function showControl() {
          document.getElementById("toggleControl").style.height = "45%";
          document.getElementById("toggleImg").src = "static/buttons/toggledown.png";
          
          document.getElementById("toggleImg").setAttribute("onclick", "hideControl()");
        }
        
        function hideControl() {
          document.getElementById("toggleControl").style.height = "7%";
          document.getElementById("toggleImg").src = "static/buttons/toggleup.png";
          document.getElementById("toggleImg").setAttribute("onclick", "showControl()");
        }
    </script>
    
    
    <script>
    
        $('input[type="range"]').on('input', function() {
    
            var control = $(this),
            controlMin = control.attr('min'),
            controlMax = control.attr('max'),   
            controlVal = control.val(),
            controlThumbWidth = control.data('thumbwidth');
        
            var range = controlMax - controlMin;
          
            var position = ((controlVal - controlMin) / range) * 100;
            var positionOffset = Math.round(controlThumbWidth * position / 100) - (controlThumbWidth / 2);
            var output = control.next('output');
          
            output
            .css('left', 'calc(' + position + '% - ' + positionOffset + 'px)')
            .text(controlVal);
        
        });
    
    
    </script>
    
    
   
{% endblock content %}






